*{
      box-sizing: border-box;
}

body {
      margin:0;
      font-family: "Raleway";
}
/******
header
******/
header {
      padding: 5%;
}
.navDesktop{
    display: none;
}

.filterDesktop{
      display:none;
}
.hightPage a {
      display: flex;
      align-items: center;
      width: 100px;
      height: 46px;
      font-size: 1rem;
      color: #0065fc;
      text-decoration: none;
}
a{
    text-decoration: none;
}
.hightPage {
      display: flex;
      justify-content: space-between;

      width: 100%;
      font-weight: bold;
}

#navMobile {
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom:2rem ;
    margin-top:1.5rem;
    

}

a#activity {
    color: black;
    font-weight: 500;
    border-bottom: rgba(0, 0, 0, 0.329) 2px solid;
}
a.select {
    color: #0065fc;
    border-bottom: #0065fc 2px solid;
    width: 50%;
}

h1 {
    width: 100%;
    margin-bottom: 3px;
    font-size: 1.4rem;
    text-align: left;
    font-weight: bold;
}
#sousTitre {
    text-align: start;
    font-size: 1rem;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 465px ;
    align-items: center;
    border: #f2f2f2 0.5px solid;
    border-right: none;
    border-radius: 20px;
    height: 45px;
    margin-top: 35px;
    margin-bottom:35px

}
.pointeurContainer{
      display: flex;
      background-color: #f2f2f2;
      width: 70px;
      height: 46px;
      border: solid  #f2f2f2 1px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      position: relative;
      left: 0px;
     justify-content: center;
      align-items: center;
}
#pointeur{
      width: 15px;
      
     

}

input {
      font-family: 'Raleway';
      border: none;
      width: 100%;
      height: 100%;
      font-weight: bolder;
      font-size: 1.2em;
      text-align: center;
}


button {
      
    
    text-decoration: none;
    border: 6px solid #0065fc;
    border-radius: 10px;
    background-color: #0065fc;
   
    
}
.buttonRecherche{
      
     height: 48px;
    width: 55px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 6px solid #0065fc;
    border-radius: 15px;
    background-color: #0065fc;
    font-family: 'Raleway';
    
}

.butonImage {
      display: block;
      width: 15px;
      height: 15px;
}
#recherche {
      display: none;
}

.filterLogo {
box-sizing: content-box;
    display: block;
    border: solid #deebff 6px;
    border-left: solid #deebff 5px;
    background-color: #deebff;
    width: 22px;
    padding: 8px;
    height: 22px;
    
    border-radius: 50%;
    position: relative;
    right: 11%;
}
.filtreTxt{
      margin-right: 10px;
    font-size: large;  
    font-family: 'Raleway';
    font-weight: 800;
    text-align: center;
}
#dog{
      right: 10%;
}

#heart {
    width: 22px;
    padding: 8px;
}
#childImage {
    width: 22px;
    height: 22px;
    right: 13%;
}
div h3 {
      text-align: left;
}
.filter {
      text-align: left;
}
.filterContainer {
      display: flex;
      flex-wrap: wrap;
}
.labelFiltre {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 200px;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 5px;
    background-color: white;
    border: rgba(0, 0, 0, 0.196) 2px solid;
    border-left: none;
    font-weight: bold;
    border-radius: 50px;
    
}
.infoImage{
    width:5px;
    margin-right: 20px;
    
}

/***************


CARTES 


****************/

#mostPopular,
#hebergement,
#activites
 {
     padding: 5%;
}
article p{
      font-weight: lighter;
     
}
#mostPopular {
      background-color: #f2f2f2;
}
.mostPopularContainer{
      display: flex;
      width: 100%;
      height: 130px;
      min-height: 130px;
      padding: 5px;
      padding-right: 0;
      padding-bottom :10px;
      border-radius: 20px;
      margin-bottom: 8px;
      margin-right: 15%;
      box-shadow: #f2f2f2 5px 5px 10px 5px;
      background-color: white;

}
.carteImageMost{
      object-fit: cover;
      width: 40%;
      height: 100%;
      border: white 1px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      
      margin:2px;    
}
.mostTxt{
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      width: 150px;
      min-width: 150px;
      height: 90px;
      min-width: 90px;
      text-decoration: none;
      color: black;
      
}
.mostTxt p{
      margin-bottom: 1px;
      
}
.mostNightTxt{
      margin-top: 4%;
      font-size: 0.9em;
}
.mostStar{
     margin-top: 18%;
}
.mostTxt h3{
      margin-bottom: 0;
      margin-top: 10px;
}

.titleMost{
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.mostLogo {
      width: 25px;
      height: 15px;
}


article h3 {
      font-size: medium;
}
.carteHebergement{
      width: 100%;
      height: 200px;
      box-shadow: #f2f2f2 5px 15px 5px;
      margin-bottom: 12px;
      border-radius: 20px;
      border: white 1px solid;
      
      
      

}
.carteHebergement a{
      text-decoration: none;
      color: black;
}
.carteImageHebergement{
      object-fit: cover;
      width: 100%;
      height: 60%;
      border: white 1px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      padding: 2px;     
}
.titleHebergement{
      margin: 6px;
      margin-left:10px;
}
.HebergementTxt{
      margin: 6px;
      margin-left:10px;
}

.starHebergement{
      margin-left:10px;
}

.buttonMore{
      background-color: white;
      font-weight: bold;
      border: none;
      font-size: 1.2em;
      margin-top: 20px;
}

.carte {
      border: 1px white;
      border-radius: 20px;
      
      text-decoration: none;
}
.carte a {
      text-decoration: none;
      color: black;
      font-weight: 740;
      text-align: justify;
}
.carte p {
      margin: 0;
      font-size: small;
}
.carte {
      width: 100%;
      height: 180px;
      
      
      margin-bottom: 20px;

      box-shadow: #f2f2f2 5px 5px 10px 5px;
}
.carteImage {
      object-fit: cover;
      width: 100%;
      height: 65%;
      border: white 1px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
     
      
}

.titleActivity{
      margin: 5%;
}


/*************



FOOTER


*************/


footer {
      padding: 5%;
      text-align: left;
      background-color: #f2f2f2;
      width: 100%;
}
.footerSection {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
}
.footerSection h2 {
      margin-top: 2rem;
}

.footerSection a {
      text-decoration: none;
      color: black;
      margin-top: 1rem;
}

/* debut de mediaquery  min-size 700*/

@media screen and (min-width: 1100px)
 {
     /***********
     HEADER Desktop
     *********/
      body{
            margin-left:2%;
            margin-right: 2%;
      }
     header{
           margin:3%;
           padding:0;
      }        

    #navMobile {
        display: none;
    }
    a.logInMobile{
          display: none;
    }
    
    .butonImage{
          display: none;
    }
    #recherche{
          display: block;
    }
    .hightPage{
          display: block;
    }
    .containerNavDesktop{
          display: flex;
          justify-content: flex-start;

    }
     .hightPage a{
          width: auto;
          
         text-align: center;
    }
    .hebergement{
          color: red;
          border-top:black 2px solid ;
    }
    a#activity{
          border-bottom: 0;
    }

   .navDesktop{
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    .navDesktop2{
      flex-direction: row;
      text-align: center;
      display: flex;
      width: 400px;
      justify-content: space-around;
    }
    .buttonRecherche{
          font-family: 'Raleway';
          width: auto;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          color: white;
          font-size: 1em;
          font-weight: bold;

    }
    .filter{
          display: none;
    }
    .filterDesktop{
          display: block;
          text-align: left;
          margin-right: 5%;
    }
    .filterContainer{
      justify-content: flex-start;
    }
    #hebergement {
          
          
          padding: 0;
          padding-bottom: 30px;
          width: 64%;
          
          padding-left:15px ;
          margin: 15px;
          border-radius: 25px;
          background-color: #f2f2f2;
    }
    #hebergement h2{
          margin-left: 25px;
          margin-top: 4%;

    }
    #mostPopular{
        
      padding: 15px;
      width: 30%;
      
      border-radius: 25px;

    }
    .containerHebergement{
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: space-around;

         
    }
    .mostPopularContainer{
      display: flex;
      width: 80%;
      height: 150px;
      min-height: 150px;
      padding: 5px;
      padding-right: 0;
      padding-bottom: 10px;
      border-radius: 20px;
      margin-bottom: 26px;
      margin-left: 17px;
      box-shadow: #f2f2f2 5px 5px 10px 5px;
      background-color: white;
  
    }
   
    .carteHebergement{
          width: 28%;
          margin-right: auto;
          margin-left: 25px;
          margin-bottom: 30px;
          background-color: white;
          padding-bottom: 1%;
    }

    .buttonMore{
          background-color: #f2f2f2;
          height: auto;
    }
    .carteContainerDesktop{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 70%;
          
         
                    
    }
    .carteContainerHebergement{
          display: flex;
          flex-wrap: wrap;
         
          
    }
    .buttonMore{
          margin-left: 5%;
    }
    .carteImage{
          
    }
    .carteContainerFooter{
      height: auto;
          display: grid;
          grid-template-columns: repeat(4 , 1fr);
          grid-template-rows: repeat(20 , 25px);
          
          column-gap: 30px;
      
    }
    #port
    {
          grid-column-start: 1;
          grid-row-start: 1;
          grid-row-end: span 20;
          height: auto;
          margin: 0;
          
          
    }
    #carteImagePort{
          height: 90%;
          
    }
    #fort{
     grid-column-start: 2;
     grid-row-start: 1;
     grid-row-end:span 12;
     height: auto;
     margin: 0;
    }
    #frioul{
          
          grid-column-start: 2;
          grid-row-start: 15;
          grid-row-end: 21;
          height: auto;
          margin: 0;
      
    }
    #calanques{
      grid-column-start: 3;
      grid-row-start: 1;
      grid-row-end: 21;
      height: auto;
      margin: 0;

    }
    #carteImageCalanques{
          height: 90%;
         
    }
    #notreDame{
       grid-column-start: 4;  
       grid-row-start: 1; 
       grid-row-end: 10;
       height: auto;
       margin: 0;
    }


    #parc{
      grid-column-start: 4;
      grid-row-start: 12;
      grid-row-end: 21;
      height: auto;
      margin: 0;

    }
    #carteImageParc{
          height: 77%;
    }
    #activites{
          padding: 0;
          padding-left: 2%;
       
    }
    
    .footerDesktop {
            display: flex;
            justify-content: space-around;
            padding: 0;
            margin-top:5% ;
            padding-top: 2%;
            padding-bottom: 1%;
            margin-left: 2%;
            margin-right: 2%;
        }

}
@media screen and (max-width: 260px){
      body{
      flex-wrap: nowrap;
}
}
