body{
     font-family: 'Raleway';
}

@media screen and (max-width:500px)
{   
    body{
        display: block;
        align-items: center;
        padding: 10%;
        text-align: center;
        

    
    }
   .hightPage a {
        display: flex;
        align-items: center;
        width: 100px;
        height: 46px;
        font-size:1rem;
        color:#0065FC;
        text-decoration: none   
    }
   

    .hightPage{
        display: flex;
        justify-content: space-between;
        
        width: 100%;
       font-weight: bold;
       
    }

    .anchorsHight{
        margin: 30px 15px;
        display:flex;
        justify-content:  space-around;

    }

    a#activity{
        color: black;
        font-weight: 500;
    }

    h1
    { 
        width: 100%;
        margin-bottom: 3px; 
        font-size: 1.5em;  
        text-align:left ;
        font-weight: bold ;
    }

    .butonImage{
        display: block;
    }
   
    .filterLogo{
        border: solid black 1px;
        margin: 10px;
        display: inline-block;
        justify-content: space-around;
        width: 25%;  
        height: auto;
        border-radius: 40px;
    }
   
    div h3{
        text-align: left;
    }
    .filter{
       
        
        width: 100%;
        
        padding-right:0.3rem ;
        padding-bottom:1rem;
        padding-top:1rem;
    
    }
    .filterImages{
        max-width: 60%;
        height: auto;
        margin-right: 5px;
        border: solid blue 1px;
        border-radius: 100% ;
        border-style: ridge;
    }
    
    

    
    article.carte{
        border: 1px white;
        border-radius: 20px;
        border-image: auto;
    }
    .carte{
        width: 90%;
        background-color: #F2F2F2;
        margin-bottom: 20px;
        

    }
    .carteImage{
        max-width: 30%;
        max-height: 100%;
        border: white 1px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    .cart + p{
        width: 100%;
        
    }
    footer{
    text-align: left;
    
    }
}

/* fin de mediaquery max size 500*/
@media screen and (min-width:500){


.hightPage a {
    color:#0065FC;
    text-decoration: none;
    font-size:1rem;
}

.anchorsHight a {
    color: #0065FC;
    text-decoration: none;

}
button{
    background-color: #0065FC;
}
.butonImage{
    display: none;
}
.filterWords{
    font-weight: 740;
    
}

.filterLogo{
    display: inline-block;
    justify-content: space-around;
      width: 25%;  
      height: auto;
      border-radius: 40px;
    }
.filterLogo:hover{
    box-shadow: rgba(0,0,0,0.2) 3px 3px;
}

}