

body {
      

     
      font-family: "Raleway";
}
/******
header
******/
header {
      padding: 0%;
}
.navDesktop{
    display: none;
}
.hightPage a {
      display: flex;
      align-items: center;
      width: 100px;
      height: 46px;
      font-size: 1rem;
      color: #0065fc;
      text-decoration: none;
}
a{
    text-decoration: none;
}
.hightPage {
      display: flex;
      justify-content: space-between;

      width: 100%;
      font-weight: bold;
}

#navMobile {
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom:2rem ;
    margin-top:1.5rem;
    

}

a#activity {
    color: black;
    font-weight: 500;
    border-bottom: rgba(0, 0, 0, 0.329) 2px solid;
}
a.select {
    color: #0065fc;
    border-bottom: #0065fc 2px solid;
    width: 50%;
}

h1 {
    width: 100%;
    margin-bottom: 3px;
    font-size: 1.3rem;
    text-align: left;
    font-weight: bold;
}
#sousTitre {
    text-align: start;
    font-size: 1rem;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 465px ;
    align-items: center;
    border: #deebff 0.5px solid;
    border-right: none;
    border-radius: 20px;
    height: 45px;
    margin-top: 35px;
    margin-bottom:35px

}
.pointeurContainer{
      display: flex;
      background-color: #deebff;
      width: 70px;
      height: 46px;
      border: solid  #deebff 1px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      position: relative;
      left: 0px;
     justify-content: center;
      align-items: center;
}
#pointeur{
      width: 15px;
      
     

}

input {
      border: none;
      width: 100%;
      height: auto;
}


button {
      
    
    text-decoration: none;
    border: 6px solid #0065fc;
    border-radius: 10px;
    background-color: #0065fc;
   
    
}
.buttonRecherche{
      
     height: 48px;
    width: 55px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 6px solid #0065fc;
    border-radius: 15px;
    background-color: #0065fc;
    font-family: 'Raleway';
    
}

.butonImage {
      display: block;
      width: 15px;
      height: 15px;
}
#recherche {
      display: none;
}

.filterLogo {
    display: block;
    border: solid #deebff 6px;
    border-left: solid #deebff 5px;
    background-color: #deebff;
    width: 22px;
    padding: 8px;
    height: 22px;
    
    border-radius: 50%;
    position: relative;
    right: 11%;
}
.filtreTxt{
    font-weight: 740;
}

#heart {
    width: 22px;
    padding: 8px;
}
#childImage {
    width: 22px;
    height: 22px;
    right: 13%;
}
div h3 {
      text-align: left;
}
.filter {
      text-align: left;
}
.filterContainer {
      display: flex;
      flex-wrap: wrap;
}
.labelFiltre {
    display: flex;
    align-items: center;
    max-width: 160px;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 10px;
    background-color: white;
    border: rgba(0, 0, 0, 0.196) 2px solid;
    border-left: none;
    font-weight: bold;
    border-radius: 50px;
    
}
.infoImage{
    width:5px;
    margin-right: 20px;
    
}

/***************


CARTES 


****************/

#mostPopular,
#hebergement,
#activites,
footer {
      padding: 10%;
}
#mostPopular {
      background-color: #f2f2f2;
}

.titleMost{
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.mostLogo {
      width: 25px;
      height: 15px;
}


article h3 {
      font-size: medium;
}

.carte {
      border: 1px white;
      border-radius: 20px;
      border-image: auto;
      text-decoration: none;
}
.carte a {
      text-decoration: none;
      color: black;
      font-weight: 740;
      text-align: justify;
}
.carte p {
      margin: 0;
      font-size: x-small;
}
.carte {
      width: 100%;
      height: 200px;

      margin-bottom: 20px;

      box-shadow: #f2f2f2 5px 5px 10px 5px;
}
.carteImage {
      object-fit: cover;
      width: 100%;
      height: 60%;

      border: white 1px;

      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
}

.cart + p {
      width: 100%;
}


/*************



FOOTER


*************/


footer {
      text-align: left;
      background-color: #f2f2f2;
      width: 100%;
}
.footerSection {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
}
.footerSection h2 {
      margin-top: 2rem;
}

.footerSection a {
      text-decoration: none;
      color: black;
      margin-top: 1rem;
}

/* debut de mediaquery  min-size 700*/

@media screen and (min-width: 700px) {
     /***********
     HEADER Desktop
     *********/
    header{
            padding: 1rem;
        }

    #navMobile {
        display: none;
    }
    #navDesktop{
        display: flex;
    }
    

    footer {
            display: flex;
            justify-content: space-around;
            padding: 0;
            padding-top: 2%;
            padding-bottom: 1%;
        }
}
